:root {
    --bullet-default-color: #826db0;
    --bullet-checked-color: #f6927a;
    --bgc: #666;
}
html {
    color: antiquewhite;
    background-color: var(--bgc);
}

.memes {
    margin: 0 auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: max-content max-content;
    grid-template-areas: "mem mem" "description bullets";
    align-items: center;
}
.my-slide {
    display: none;
}
label {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 35px;
    width: 35px;
}
label::before {
    box-sizing: border-box;
    content: "";
    width: 15px;
    height: 15px;
    background-color: var(--bullet-default-color);
    border-radius: 50%;
}
#box {
    grid-area: mem;
    border-radius: 10px;
}
#slide1:checked ~ #box {
    visibility: visible;
    background: url("img/1.png") no-repeat;
    background-size: contain;
    width: 100%;
    height: 0;
    padding-top: calc(100% * 741 / 906);
}
#slide2:checked ~ #box {
    visibility: visible;
    background: url("img/2.jpeg") no-repeat;
    background-size: contain;
    width: 100%;
    height: 0;
    padding-top: calc(100% * 285 / 480);
}
#slide3:checked ~ #box {
    visibility: visible;
}
#slide4:checked ~ #box {
    visibility: visible;
}
p {
    grid-area: description;
}

.bullets {
    grid-area: bullets;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}
#slide1:checked ~ .bullets > #label1::before,
#slide2:checked ~ .bullets > #label2::before,
#slide3:checked ~ .bullets > #label3::before,
#slide4:checked ~ .bullets > #label4::before {
    background-color: transparent;
    border: var(--bullet-default-color) solid 3px;
}
#slide1:hover ~ .bullets > #label1::before,
#slide2:hover ~ .bullets > #label2::before,
#slide3:hover ~ .bullets > #label3::before,
#slide4:hover ~ .bullets > #label4::before {
    background-color: var(--bullet-checked-color);
}
#slide1:checked:hover ~ .bullets > #label1::before,
#slide2:checked:hover ~ .bullets > #label2::before,
#slide3:checked:hover ~ .bullets > #label3::before,
#slide4:checked:hover ~ .bullets > #label4::before {
    background-color: transparent;
    border: var(--bullet-checked-color) solid 3px;
}